<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-cb4ede7df6d8670c4051172e4d6bc6916b3c765fa15b4ee9b348f157fdb85114.css" integrity="sha256-y07effbYZwxAURcuTWvGkWs8dl+hW07ps0jxV/24URQ=" media="all" rel="stylesheet" />
  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-d4066eaec592ac611ce8c7508db9c1992784f38b23299c1b7c809fe9b331f39f.css" integrity="sha256-1AZursWSrGEc6MdQjbnBmSeE84sjKZwbfICf6bMx858=" media="all" rel="stylesheet" />
  <link rel="stylesheet" href="/public/css/main.css">
</head>
