<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="page-content li-container">
  <div class="post-title hide" itemprop="name headline">
    <h1>
      {{ page.title }}
    </h1>
  </div>
  <article>
    <div class="article-date hide">
      <!--<p class="post-meta">-->
        <!--<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>-->
        <!--{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">-->
        <!--<span itemprop="name">{{ page.author }}</span></span>{% endif %}-->
      <!--</p>-->
    </div>
    <div class="article-content">
      {{ content }}
    </div>
  </article>

 

</div>

{% include footer.html %}

</body>

</html>
